[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn
req_extensions = req_ext
x509_extensions = v3_ca

[dn]
CN = auth.localhost

[req_ext]
subjectAltName = @alt_names

[v3_ca]
subjectAltName = @alt_names
basicConstraints = critical, CA:TRUE

[alt_names]
DNS.1 = auth.localhost
DNS.2 = api.auth.localhost
DNS.3 = meddygpt.auth.localhost

